._contain {
  width: auto;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: 'image author' 'image album';
  align-items: center;
}

._image {
  width: 51px;
  height: 51px;
  background-color: #313131;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
  grid-area: image;
}

._svg {
  width: 18px;
  height: 17px;
  fill: transparent;
  stroke: #4e4e4e;
}

._author {
  grid-area: author;
  min-width: 49px;
}

._author-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  white-space: nowrap;
}

._album {
  grid-area: album;
  min-width: 49px;
}

._album-link {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #ffffff;
}

._like-dis {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 26%;
}

._like,
._dislike {
  padding: 5px;
}

._like-svg {
  width: 14px;
  height: 12px;
  fill: transparent;
  stroke: #696969;
}

._dislike {
  margin-left: 28.5px;
}

._dislike-svg {
  width: 14.34px;
  height: 13px;
  fill: transparent;
  stroke: #696969;
}
