.dropMenu {
  margin-top: 30px;
  box-sizing: border-box;
  background: #313131;
  }

.displayNone {
  display: none;
}

.dropMenuActive {
  position: relative;
  border: 1px solid #9A48F1;
  border-radius: 60px;
  color: #B672FF;
}
.dropMenuActive :hover{
  color: #b672ff;
}
.dropMenuActiveRound{
  position: absolute;
  width: 26px;
  height: 25.5px;
  top: -14px;
  right: -8px;
  border-radius: 50px;
  background: #AD61FF;
  text-align: center;
  color: #fff;
}



.dropMenuList {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  text-align: left;
}

